{
  "presets": [
    "@babel/preset-env",
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions",
    ["babel-plugin-styled-components",
      {
        "ssr": false
//        "fileName": false
      }],
    "react-docgen",
    "relay"
  ]
}
