.pagination{
  list-style-type: none;
  display: flex;
  margin: 12px auto;
}

.page, .active-page, .nextPage, .prevPage{
  cursor: pointer;
}

.page, .active-page{
  font-size: 14px;
  font-weight: 500;
  font-family: 'FFMarkProAF-Bold';
  color: #ff0100;
}

.page:after, .active-page:after {
   content: ""; /* This is necessary for the pseudo element to work. */
   display: inline-block;
   height: 50%;
   border-right: 1px solid #a1a1a1;
   margin: 0 12px;
   vertical-align: -1px;
 }

.active-page{
  color: #0000ff;
}

.nextPage, .prevPage, .disabledLab{
  font-size: 14px;
  font-weight: 500;
  font-family: 'FFMarkProAF-Bold';
  color: #ff0100;
  margin-top: -1px;
}

.prevPage{
  margin-right: 12px;
}

.disabledLab{
  color: rgba(255, 1, 0, 0.31);
}

